# train
lr: 0.001
n_epochs: 100
weight_decay: 0.00001

# log & validation/test
project_name:
  UCR: "UCR"
  PTB-XL: "PTB-XL"
n_neighbors_kNN:
  UCR: 5
  PTB-XL: 3
n_jobs_for_kNN: 10
model_saving_epochs:
  - 2
  - 10
  - 100